.settings-container {
    max-width: 700px;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    text-align: center; 
}

.settings-container h2, 
.settings-container h3 {
    margin-bottom: .2rem;
}

.profile-info {
    display: block;
    text-align: left; 
    margin: 0 auto 2rem auto;
    padding: 1rem;
    background: var(--neutral-light);
    border-radius: 8px;
    min-width: 350px;
}

.profile-info p {
    margin: 0.5rem 0;
    padding-left: 7.5rem;
}

.settings-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    gap: 1rem;
    margin: 0 auto
}

.settings-form input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #000000;
    border-radius: 5px;
}

.settings-form button {
    width: 100%;
    align-self: center;
    max-width: 300px;
}
.settings-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.btn-link {
    background: none;
    border: none;
    color: var(--primary-dark);
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.9rem;
}

.btn-secondary {
    background-color: var(--neutral-light);
    color: var(--primary-dark);
    border: 1px solid var(--neutral-light);
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}
.error-msg { color: var(--error); font-weight: bold; }
.success-msg { color: var(--primary); font-weight: bold; }