:root {
    /* Primary Color */
    --primary-light:oklch(87.1% 0.072 145);
    --primary:oklch(54.1% 0.141 145);
    --primary-800:oklch(27.4% 0.085 145);

    /* Secondary Color */
    --secondary-light:oklch(92% 0.02 160);
    --secondary:oklch(45% 0.08 160);
    --secondary-dark:oklch(20% 0.04 160);

    /* Tertiary Color */
    --tertiary-light:oklch(92% 0.02 20);
    --tertiary:oklch(45% 0.10 20);
    --tertiary-dark:oklch(20% 0.04 20);


    /* Neutral Color */
    --neutral-white:oklch(100% 0 0);
    --neutral-light:oklch(96.8% 0.005 220);
    --neutral:oklch(55.6% 0.025 220);
    --neutral-dark:oklch(22.4% 0.015 220);
    --neutral-black:oklch(15.2% 0.010 220);

}