.dropdown-container {
    position: relative;
    display: inline-block;
}

.account-btn {
    color: var(--neutral-white);
    background: #2D7D46;
    border: none;
    padding: .7rem 1.2rem;
    border-radius: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.account-btn:hover {
    background: #1B4D2B;
}


.dropdown-menu {
    position: absolute;
    right: 0;
    top: 110%; 
    background-color: var(--neutral-white);
    min-width: 140px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    border: 1px solid #000000;
    border-radius: 0.5rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Items inside the dropdown */
.dropdown-menu a, 
.dropdown-logout {
    padding: 0.8rem 1rem;
    text-align: left;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--primary-dark);
    background: none;
    border: None;
    width: 100%;
    cursor: pointer;
    font-weight: 600;
}

.dropdown-menu a:hover, 
.dropdown-logout:hover {
    background-color: var(--neutral-light);
}

/* Specific styling for logout to keep your error/warning theme */
.dropdown-logout {
    color: var(--error);
    border-top: 1px solid #000000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    color: var(--neutral);
    background-color: var(--neutral-white);
    font-weight: 700;
    border-bottom: 0.1em solid var(--neutral-light);
    padding: 2rem 2rem;
}

.navbar h5 {
    font-family: var(--font-secondary);
    color: var(--primary);
    font-style: italic;
    margin: 0;
}

.navbar a:link,
.navbar a:visited {
    text-decoration: none;
    color: inherit;
}

.navbar-links {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.navbar-menu {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    color: var(--primary-dark)
}

.logout-btn {
    color: var(--error);
    background: var(--warning-bg);
    border: none;
    padding: .7rem 1.2rem;
    border-radius: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.logout-btn:hover {
    color: var(--warning-bg);
    background: var(--error);
}